doctype html 
html

    head
        title Create Contact
    

    body 
        
        h1 Creer un nouvel utilisateur: 
        tr 
                th id:   _________________name:______________firstname:___________lastname:___________email:_______________date:
                
        form(action=`/create/` method="POST")
            input(
            type="text"
            name="id"
            )
            input(
            type="text"
            name="name"
            )
            input(
            type="text"
            name="firstname"
            )
            input(
            type="text"
            name="lastname"
            )
            input(
            type="text"
            name="mail"
            )
            input(
            type="text"
            name="creationdate"
            )
            
            input(type="submit")

    
        
        a(href="/") Retour