doctype html 
html
    head
        title BIENVENUE ICI C l'ESGI
        
    body 
        h1 Creation du message: 
        h4 Choisissez un contact:
        select#contact(name='contacts')
            for data in item
                - n++ 
                option(value='')=data.firstname
            option(value='') test
        br
        br
        br
        


    body 
        center
            h1 Nouveau message
            tr         
            form(action=`/messages/` method="POST")
                br
                th Destinataire :
                br
                input(
                type="text"
                name="destinataire"
                )
                br
                th Template (1 ou 2) :
                br
                input(
                type="text"
                name="template"
                )
                br
                th Sujet :
                br
                input(
                type="text"
                name="subject"
                )
                br
                th Contenu :
                br
                input(
                type="text"
                name="content"
                )
                br
                br
                input(type="submit")

                br                
                br
    center 
        
        h4 Choisissez un model:                  
        select#pet-select(name='pets')
          option(value='') Choisissez un contact
          option(value='dog') Dog
          option(value='cat') Cat
          option(value='hamster') Hamster
          option(value='parrot') Parrot
          option(value='spider') Spider
          option(value='goldfish') Goldfish
        
        br
    br
    a(href="/read-messages") Messages envoyés
    br
    br
    a(href="/messages") Répertoire