doctype html 
html
    head
        title=data.id
       
    body 
        h1=data.name 
        p=data.mail
        br
        a(href=`/update/${data.id}`) Update note.
        br
        a(href=`/delete/${data.id}`) Delete note.
        br
        a(href="/") Home