doctype html 
html
    head
        title Projet Email

    body 
        center
            h1 modifier #{data.name}


            form(action=`/update-contact/${data.id}` method="POST")
                input(
                type="text"
                value=`${data.name}`
                name="name"
                )
                input(
                type="text"
                value=`${data.mail}`
                name="mail"
                )
                input(type="submit")
                
            a(href="/") Home

            